<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head.ejs')%>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt unde voluptates possimus enim rerum, libero id cumque quod officia illo! Repudiandae, deleniti. Molestias blanditiis repudiandae sapiente. Quis, quas magni enim libero nostrum optio minus dolor temporibus praesentium placeat a nemo voluptate fuga voluptatem pariatur nulla nihil omnis. Sint dolores quas inventore laborum aperiam cumque eum ad, molestias consectetur. Dolor, nihil? Accusantium sequi magni blanditiis distinctio officiis ab doloremque. Cum quo at iste? Ad, obcaecati non? Quos consequatur, deserunt labore doloribus quidem error rem nulla ad laboriosam commodi, molestias delectus reprehenderit nisi impedit eveniet! Ut earum sit suscipit similique voluptas sed numquam impedit reiciendis molestias maxime. Perferendis est eligendi totam ipsam sequi ut eos ratione, repellat iste atque accusantium consectetur maxime odit et maiores quaerat molestiae magnam libero doloribus fuga reprehenderit. Voluptatibus ipsam corrupti quae ad vel, in vero. Perspiciatis illum fugiat debitis ratione autem porro commodi ipsum mollitia, minima non error eaque ad obcaecati id aut veritatis, consequuntur repellat, quod facere architecto. Optio nostrum molestias distinctio labore totam molestiae exercitationem voluptas enim. Voluptate veniam magni inventore minima quo temporibus nulla ea praesentium velit pariatur, possimus labore quaerat rerum itaque, molestiae nam sequi ipsa omnis expedita perferendis autem? Labore, earum quas.</p>
        </section>
    </main>
</body>
</html>